<div class="container parts done-list">
  <ul class="list-group done-list-group">
    <h4 class="list-header">Accomplished</h4>
    <li href="#" class="list-group-item waves-effect">
      <div class="done-list-p">
        <p>Love is a fire. But whether it is going to warm your heart</p>
      </div>
      <div class="done-list-input">
        <p class="finished-time">3:30pm</p>
        <input class="btn btn-primary btn-xs pull-right" type="button" value="Change">
      </div>
    </li>

    <li href="#" class="list-group-item waves-effect">
      <div class="done-list-p">
        <p>If you wait too long for the perfect moment, the perfect moment will pass you by the quick brown fox jumps over
          the lazy dog and the manis walking.</p>
      </div>
      <div class="done-list-input">
        <p class="finished-time">3:30pm</p>
        <input class="btn btn-primary btn-xs pull-right" type="button" value="Change">
      </div>
    </li>

    <li href="#" class="list-group-item waves-effect">
      <div class="done-list-p">
        <p>If you wait too long for the perfect moment, the perfect moment will pass you by.</p>
      </div>
      <div class="done-list-input">
        <p class="finished-time">3:30pm</p>
        <input class="btn btn-primary btn-xs pull-right" type="button" value="Change">
      </div>
    </li>

    <li href="#" class="list-group-item waves-effect">
      <div class="done-list-p">
        <p>A man can fail many times, but he isn't a failure until he begins to blame somebody else.</p>
      </div>
      <div class="done-list-input">
        <p class="finished-time">3:30pm</p>
        <input class="btn btn-primary btn-xs pull-right" type="button" value="Change">
      </div>
    </li>

  </ul>
</div>





</div>
<div class="col-md-6">
  <div class="container all-list ">

    <ul class="list-group">
      <h4 class="list-header">To do list</h4>
      <li class="list-group-item list-group-item-success actv-list1">
        <div class="actv-list">
          <p class="list-text">Do something better today and always try to be better everyday</p>
          <div class="actv-side">
            <p class="list-time">3:30pm</p>
            <input class="btn btn-primary btn-xs" type="button" value="Edit">
            <input class="btn btn-danger btn-xs pull-right" type="button" value="Delete">
          </div>
        </div>
      </li>

      <li class="list-group-item list-group-item-success actv-list1">
        <div class="actv-list">
          <p class="list-text">An investment in knowledge alawys pays the best interest. by Benjamin Franklin</p>
          <div class="actv-side">
            <p class="list-time">3:30pm</p>
            <input class="btn btn-primary btn-xs" type="button" value="Edit">
            <input class="btn btn-danger btn-xs pull-right" type="button" value="Delete">
          </div>
        </div>
      </li>
      <li class="list-group-item list-group-item-success actv-list1">
        <div class="actv-list">
          <p class="list-text">Life is like a bicycle, to move forward, you must keep moving by the famous albert einstien</p>
          <div class="actv-side">
            <p class="list-time">3:30pm</p>
            <input class="btn btn-primary btn-xs" type="button" value="Edit">
            <input class="btn btn-danger btn-xs pull-right" type="button" value="Delete">
          </div>
        </div>
      </li>

      <li class="list-group-item list-group-item-success actv-list1">
        <div class="actv-list">
          <p class="list-text">If you wait too long for the perfect moment, the perfect moment will pass you by.
          </p>
          <div class="actv-side">
            <p class="list-time">3:30pm</p>
            <input class="btn btn-primary btn-xs" type="button" value="Edit">
            <input class="btn btn-danger btn-xs pull-right" type="button" value="Delete">
          </div>
        </div>
      </li>

      <li class="list-group-item list-group-item-success actv-list1 list-edit">
        <div class="actv-list-edit">
          <form>
            <div class="form-group">
              <textarea type="text" class="list-text" autofocus="autofocus" value="">It is every man's obligation to put back into the world at least the equivalent of what he takes out of it.</textarea>
              <div class="edit-form">
                <select class="form-control" id="sel2">
                  <option>Pending</option>
                  <option>Urgent</option>
                  <option>Done</option>
                </select>
                <input class="btn btn-primary btn-sm pull-right" type="submit" value="Update">
              </div>
            </div>
          </form>
        </div>
      </li>

      <li class="list-group-item list-group-item-success actv-list1">
        <div class="actv-list">
          <p class="list-text">A man can fail many times, but he isn't a failure until he begins to blame somebody else.</p>
          <div class="actv-side">
            <p class="list-time">3:30pm</p>
            <input class="btn btn-primary btn-xs" type="button" value="Edit">
            <input class="btn btn-danger btn-xs pull-right" type="button" value="Delete">
          </div>
        </div>
      </li>

      <li class="list-group-item list-group-item-success actv-list1">
        <div class="actv-list">
          <p class="list-text">Love is a fire. But whether it is going to warm your heart or burn down your house, you can
            never tell.</p>
          <div class="actv-side">
            <p class="list-time">3:30pm</p>
            <input class="btn btn-primary btn-xs" type="button" value="Edit">
            <input class="btn btn-danger btn-xs pull-right" type="button" value="Delete">
          </div>
        </div>
      </li>


    </ul>

  </div>
</div>
</div>